<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ionic Device Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <h1>Device Model -  <span>{{model}}</span></h1>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Device Platform -  <span>{{os}}  {{version}}</span></h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Device Serial Number -  <span>{{serial}}</span></h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Device Manufacturer -  <span>{{manufacturer}}</span></h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Device Cordova Version -  <span>{{cor}}</span></h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
